[Desktop Entry]
Name=OpenVPN 3 Status
Exec=cosmic-openvpn3-status %F
Terminal=false
Type=Application
StartupNotify=true
Icon=logo_dark
Categories=COSMIC;Network;Security;
Keywords=VPN;OpenVPN;Network;Security;
MimeType=inode/directory;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
